*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100%;
}

#title > h1{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
#title > h3{
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 1.5;
    font-size: 3rem;
}
.navbar-nav > li{
    margin-left:100px;
    margin-right:100px;
}
.navbar-nav:hover >a{
    color: orange;
}
.compass:hover{
    transition: 1s;
    transform: rotate(540deg) scale(1.8) ;
    color: orange;
}
#title > .container-fluid{
    padding: 3% 15% 7%;
}
.division{
    border-bottom:solid 0.5px rgb(235, 225, 225);
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    margin-bottom: 6%;
    padding:3%;
    
}
.item{
    width: 100px;
}
.download-button{
    margin: 5% 3% 5% 0;
}
.download-button:hover{
    transition: 1s;
    transform: scale(1.2);
    color: black;
    background-color:orange;
    border-radius: 10px;
}
.download-button:hover >a{
    transition: 1s;
    color: black;
}
.visit{
    color: Green;
}
.headings{
    position: relative;
}
.nitc{
    padding: 100px;
}
.rick{
    text-decoration: none;
    color: #fff;
}
.navig{
    font-size: 1.4rem;
}
.navig:hover{
    transition: 1s;
    color: orange !important;
    transform:scale(1.2);
}
#footer{
    padding-top: 1%;
    background: none;
    text-align: center;
    background: rgba(29,34,37,0.7);
}
#footer >p{
    color: #ECF9FF;
}
.handles{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-brands{
    color: #ECF9FF;
    padding-left: 10%;
    padding-right: 10%;
}
.fa-brands:hover{
    transition: 1s;
    color: orange;
    transform: scale(1.2);
}
#title{
    z-index: -1;
    background: url('images/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(4px);
    width: 100%;
    color: #fff;
}

#johann{
    z-index: 1;
    background-image: url('images/burj.jpg');
    background-size: cover;
    
}
.stay{
    padding-left: 12%;
    padding-top: 45px;;
    color: blanchedalmond;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul{
    list-style: none;
}
.para{
    padding-left: 12%;
    color: blanchedalmond;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.img1{
    width: 300px;
    height: 200px;
    
}
.img2{
    width: 300px;
    height: 200px;
}
.img3{
    width: 300px;
    height: 200px;
}
.col1{
    margin-top: 20px;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
}
.col2{
    margin-top: 20px;
    /* margin-left: 30px; */
}
.col3{
    margin-top: 20px;   
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
    /* margin-left: 30px; */
}
.col1, .col2, .col3{
    color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
}
.col1:hover, .col2:hover, .col3:hover {
    transition: 0.2s;
    background : rgba(0, 0, 10, 0.9);
    border-radius: 2%;
}

/* dj */
.override {
    justify-items: center;
}

#diljith {
    min-height: 500px;
    background-image: url(./images/oru\ nalla\ background.jpg);/* Set a specific height */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.refresh {
    align-self: center;
    width: 100%;
}
.card {
    margin : 0px;
}

.override > div {
    margin-top : 10px;
    margin-bottom : 10px;
}

h5, p {
    color: white;
}


.bullshit {
    padding: 3%;
}

.ab {
    border: solid 1px #FFE7CC;
    background:  rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
}
.bg {
    margin-left:  0;
    border: solid 1px #FFE7CC;
    background:  rgba(0, 0, 0, 0.3);  
    backdrop-filter: blur(2px);

}

.ab:hover, .bg:hover {
    transition: 0.1s;
    background: rgba(0, 10, 0, 0.7);
    backdrop-filter: blur(4px);
}

#food{
    font-family: "Montserrat";
    color: orange;
    background-image: url("images/bgreal3-modified.jpeg");
    background-size: cover;
}
ul{
    list-style: none;
    text-align: center;
}
img{
    padding-top:5% ;
}
.anchtag{
    text-decoration: none;
    color: orange;
}
.anchtag:hover{
    color: green;
}
.col{
    border-radius: 20px;
    margin-right: 3%;
    background: rgba(0,0,0,0.5);
    border: solid 1px rgb(234, 159, 159);
}
.ultag{
    color: orange;
}
.raju1{
    font-size: 4rem;
    font-weight: 900;
}
.raju2{
    font-size: 2.785rem;
    font-weight: 900;
}
.zom:hover{
    transition: 0.3s;
    transform: scale(1.1) ;
    background: rgba(0,0,0,0.7);
}
.zom:hover .butt{
    border-color: orange;
    color: orange;
    background-color: black
}

@media (max-width: 600px) {
    .refresh {
        width: 14%;
        border-radius: 50%;
        right: 0;
    }
    
    .refresh > div {
        display: flex;
    }
    
    .refresh > div > a > i {
        padding-left : 8%;
    }
}

@media (min-width: 601px) {
    .refresh {
        width: 4%;
        border-radius: 50%;
        right: 0;
    }
    
    .refresh > div {
        display: flex;
    }
    
    .refresh > div > a > i {
        padding-left : 8px;
    }
}
